<div>
  <% @students.each do |student| %>
    <div><%= link_to student.to_s, student_path(student) %></div>
  <% end %>
</div>

<%= button_to "Create Student", new_student_path, html_options = { :method => :get } %>
